<%- include ('./partials/header.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5">
            <h2 class="alert alert-success text-center">Update Student</h2>
            <form method="post" action="/student/update/<%= item._id %>">
                <div cLass="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= item.name %>" />
                </div>
                <div cLass="mb-3">
                    <label for="age" class="form-label">Age</label>
                    <input type="text" class="form-control" id="age" name="age" value="<%= item.age %>" />
                </div>
                <div cLass="mb-3">
                    <label for="age" class="form-label">Fees</label>
                    <input type="text" class="form-control" id="fees" name="fees" value="<%= item.fees %>" />
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
                <button type="submit" class="btn btn-secondary">Back to Home</button>
            </form>
        </div>
    </div>
</div>

<%- include ('./partials/footer.ejs') %>